{{ $data := (index .Site.Data .Site.Language.Lang).events }}

<section id="events" class="section-events">
  <h2>{{ i18n "events" }}</h2>
  <div class="section-intro">
    {{ $data.intro | markdownify }}
  </div>
  <ul class="event-list">
    {{ range $data.events }}
    <li class="flex-responsive">
      <div class="event-thumbnail"><img class="img-as-bg" src="{{ .imagePath | relURL }}" alt=""></div>
      <div class="event-details animation-chain" data-animation="fadeInUp">
        <h3>{{ .name }}</h3>
        <ul class="event-info">
          <li><span class="lnr lnr-map-marker"></span>{{ .place }}</li>
          <li><span class="lnr lnr-clock"></span>{{ .date }}</li>
        </ul>
        <div class="desc">
          {{ .description | markdownify }}
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
</section>
