{{ $data := (index .Site.Data .Site.Language.Lang).important }}

<section id="important" class="section-events">
  <h2>{{ i18n "important" }}</h2>
  <div class="section-intro">
    {{ $data.intro | markdownify }}
  </div>

  <ul class="event-list">
    {{ range $data.items }}
    <li class="flex-responsive">
      <div class="event-details animation-chain" data-animation="fadeInUp">
        <h3>{{ .title }}</h3>
        <div class="desc">
          <p></p>
          {{ .description | markdownify }}
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
</section>
