<nav class>
  <div class="menu-wrapper">
    <button class="open-menu">Menu</button>
    <ul class="menu">

      <li><a class="scroll-link" href="#hero">Home</a></li>

      {{ if ($.Site.Params.content.couple_section) }}
      <li><a class="scroll-link" href="#couple">{{ i18n "couple" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.place_section) }}
      <li><a class="scroll-link" href="#place">{{ i18n "place" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.events_section) }}
      <li><a class="scroll-link" href="#events">{{ i18n "events" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.sleep_section) }}
      <li><a class="scroll-link" href="#sleep">{{ i18n "sleep" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.transport_section) }}
      <li><a class="scroll-link" href="#transport">{{ i18n "transport" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.important_section) }}
      <li><a class="scroll-link" href="#important">{{ i18n "important" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.gifts_section) }}
      <li><a class="scroll-link" href="#gifts">{{ i18n "gifts" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.rsvp_section) }}
      <li><a class="scroll-link" href="#rsvp">{{ i18n "rsvp" }}</a></li>
      {{ end }}

      {{ if ($.Site.Params.content.gallery_section) }}
      <li><a class="scroll-link" href="#gallery">{{ i18n "gallery" }}</a></li>
      {{ end }}

      <hr style="margin:4px;">

      <li><a href="#" lang="{{ .Site.Language.Lang }}" class="link active">{{ .Site.Language.LanguageName }}</a></li>
      {{ if .IsTranslated }}
      {{ range .Translations }}
      <li><a class="link" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
