{{ $data := (index .Site.Data .Site.Language.Lang).place }}

<section id="place" class="section-place">
  <h2>{{ i18n "place" }}</h2>
  <div class="section-intro">
    {{ $data.intro | markdownify }}
  </div>

  <div class="separator">
    <div class="separator-carousel">
      <div class="owl-carousel owl-theme">
        {{ range .Site.Params.place.pictures }}
          {{ $image := resources.Get .path }}
          {{ with $image.Resize "1200x webp photo" }}
          <a href="{{ .RelPermalink }}" class="item"><img src="{{ .RelPermalink }}" alt="" class="img-as-bg"></a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>

  <div class="section-intro">
    {{ $data.description | markdownify }}
  </div>
  <div>
    <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=mas%20torroella&t=&z=12&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
</section>
