{{ $data := (index .Site.Data .Site.Language.Lang).sleep }}

<section id="sleep" class="section-sleep">
  <h2>{{ i18n "sleep" }}</h2>
  <div class="section-intro">
    {{ $data.intro | markdownify }}
  </div>
  <div class="row">
    {{ range $data.entries }}
    <div class="col-lg-6">
        <h3 align="center">{{ .title }}</h3>
        <div class="section-intro animation-chain">
          {{ .description | markdownify }}
          {{ if .url }}
          <div class="cta" align = "center">
            <a href="{{ .url }}" class="btn btn-primary" target="_blank">{{ $data.location }}</a>
          </div>
          {{ end }}
          {{ if .image }}
          <p> </p>
          <div class="profile-pic">
            <img src="{{ .image | relURL }}" alt="">
          </div>
          {{ end }}
        </div>
    </div>
    {{ end }}
  </div>
</section>
